<html>
<head>
    <title>Book Keeping Registration</title>
</head>
<body>
<h1 id="id_registration">LOG ON or CREATE an ACCOUNT</h1>
    <p>You've arrived at a site that is being developed to provide
    for your double entry book keeping needs.</p>
    <p>You must have an account to procede so either log on or
    create a new account.</p>
    <p>User names can consist of any combination of alphaneumeric
    characters and the underscore character, nothing else will be
    accepted.</p>
</body>
</html>
