<html>

<head>
    <title>Double Entry Book Keeping</title>
</head>

<body>

<h1 id="id_select_or_create">SELECT or CREATE an ENTITY</h1>

    <p>You've arrived at a site that is being developed to
    provide for your <em>double entry book keeping needs</em>.
    </p>

    <p>The site allows for more than one set of books- one
    for each entity you'd like to create. Begin by creating
    an entity or selecting from one already created.</p>

    <p>There are currently no entities in existence.</p>

    <p>Enter the name of the entity you wish to create. Use
    any combination of alphaneumeric characters and the
    underscore character, nothing else will be accepted.</p>

    <input id="id_new_entity"
        place_holder="Pick a name for your new entity." />

    <table id="id_list_of_entities">
    </table>

</body>

</html>
